@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap') ;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Popins', sans-serif;
}

#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

#header .logo {
  color: #094b65;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
}

#header ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#header ul li {
  list-style: none;
}

#header ul li a {
  text-decoration: none;
  padding: 6px 15px;
  color: brown;
  border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
  background: #094b65;
  color: #fff;
}

#scene {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#scene #txt {
  position: absolute;
  transform: translateY(100%);
  color: #094b65;
  font-family: 'Rancho', cursive;
  font-size: 10vw;
  white-space: no-wrap;
  text-align: center;

}

#scene img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

.sec {
  position: relative;
  padding: 100px;
  background: #131e1e;

}

.sec h2 {
  font-size: 3rem;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;

}
.sec h3 {
  font-size: 3rem;
  color: #fff;
}
@media screen and (max-width: 720px) {
  #header {
    padding: 20px; /* Adjusted padding for smaller screens */
  }

  #header .logo {
    font-size: 1.5rem; /* Adjusted font size for smaller screens */
  }

  #header ul {
    gap: 15px; /* Adjusted gap for smaller screens */
  }

  #header ul li a {
    padding: 6px 8px; /* Adjusted padding for smaller screens */
  }

  .sec {
    padding: 30px; /* Adjusted padding for smaller screens */
  }

  .sec h3 {
    font-size: 1.5rem; /* Font size changed to 1.5rem for smaller screens */
  }
}